
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">GREEN WASH</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a *ngIf="authService.isLoggedin()" [routerLink]="['/']">Home</a></li>
      <li><a *ngIf="authService.isLoggedin()" [routerLink]="['/bookwash']">Book Wash</a></li>
      <li><a *ngIf="authService.isLoggedin()" [routerLink]="['/profile']">Profile</a></li>
      <li><a *ngIf="authService.isLoggedin()" [routerLink]="['/orders']">Orders</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> {{authservice.userEmail}}</a></li> -->
      <li><a *ngIf="!authService.isLoggedin()" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a *ngIf="!authService.isLoggedin()" [routerLink]="['/register']"><span class="glyphicon glyphicon-user" ></span>Register</a></li> 
      <li><a *ngIf="authService.isLoggedin()" (click)= "onLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>